* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100vw;
    font-size-adjust: 100%;
    overflow: hidden;
}

.card-2 {
    height: 3.0rem;
    width: 100%;
    border-radius: 1rem;
    background-color: rgba(205, 205, 205, 0.6);
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) alternate-reverse infinite;
}

.card {
    width: 350px;
    height: 17rem;
    display: flex;
    flex-direction: column;
    grid-gap: 1.25rem;
    align-items: center;
    gap: 1.25rem;
    margin-top: 20px;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1.5rem;
}

.card-1 {
    width: 120px;
    height: 120px;
    border-radius: 100px;
    background-color: rgba(205, 205, 205, 0.6);
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) alternate-reverse infinite;
}

.card-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.card-3 div {
    height: 3rem;
    width: 4rem;
    margin: 0px 10px;
    border-radius: 1rem;
    background-color: rgba(205, 205, 205, 0.6);
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) alternate-reverse infinite;
}

.card-4 {
    height: 3rem;
    width: 100%;
    border-radius: 1rem;
    background-color: rgba(205, 205, 205, 0.6);
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) alternate-reverse infinite;
}

@keyframes pulse {
    to {
        opacity: .3;
    }
}